<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://aws-1-us-west-2.pooler.supabase.com:6543/postgres</property>
        <property name="hibernate.connection.username">postgres.acywsjxomurvklledhrb</property>
        <property name="hibernate.connection.password">isU0hqUbGHmr55xb</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="com.sistema.modulos.contabilidad.Models.Cuenta"/>
        <mapping class="com.sistema.modulos.contabilidad.Models.Partida"/>
        <mapping class="com.sistema.modulos.contabilidad.Models.DetallePartida"/>

        </session-factory>
</hibernate-configuration>